@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  font-family: 'Inter', sans-serif;
}

.feature__oval.oval-1, .feature__oval.oval-2, .feature__oval.oval-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-1__body, .content-2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-link {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: #0F3D33;
  line-height: 19px;
  padding: 15px 27.5px 16px 28.5px;
  background-color: #50E3C2;
}

.button-link-2 {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: #0F3D33;
  line-height: 19px;
  padding: 15px 27.5px 16px 28.5px;
  background-color: rgba(80, 227, 194, 0.14);
}

.text-template {
  font-weight: 400;
  font-size: 18px;
  color: #323232;
  line-height: 32px;
}

.menu__list li a:hover, .footer__item_list li a:hover, .footer__item_list li:first-child a:hover, .footer__bottom-right .bottom-list li a:hover {
  color: #50E3C2;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0%;
}

.header__body {
  min-height: 145px;
  max-width: 1190px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list li {
  margin: 0 0 0 50px;
}

.menu__list li a {
  font-weight: 400;
  font-size: 16px;
  color: #DBE4F1;
  line-height: 24px;
}

.header__burger {
  display: none;
}

.content-top {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: url("../media/top-content-bg.jpg") center/cover no-repeat;
  height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.content-top__block h2 {
  font-weight: 700;
  font-size: 46px;
  color: #fff;
  line-height: 68px;
  margin: 0 0 5px 0;
}

.content-top__block p:not(:last-child) {
  font-weight: 400;
  font-size: 20px;
  color: #DBE4F1;
  line-height: 34px;
  margin: 0 0 27px 0;
}

.content-top__block p:last-child {
  font-weight: 400;
  font-size: 14px;
  color: #DBE4F1;
  line-height: 28px;
}

.content-top__block .button-link {
  margin: 0 0 11px 0;
}

.button-link:hover {
  background-color: #98E41A;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transform: scale(0.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.feature__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 555px;
}

.feature__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 307px;
          flex: 0 1 307px;
  padding: 0 22.5px;
}

.feature__border span {
  display: block;
  width: 1px;
  height: 111px;
  background-color: #E8E8EA;
  position: relative;
  top: 45px;
}

.feature__oval.oval-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(252, 92, 101, 0.1);
}

.feature__oval.oval-1 span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fc5c65;
}

.feature__oval.oval-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(80, 227, 194, 0.1);
}

.feature__oval.oval-2 span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #50e3c2;
}

.feature__oval.oval-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(166, 101, 251, 0.1);
}

.feature__oval.oval-3 span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #a665fb;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 0;
}

.feature__item h4 {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  line-height: 34px;
  margin: 33px 0 24px;
}

.text-margin {
  margin: 14px 0 29px;
}

.content-1 {
  background-color: #F8FBFE;
}

.content-1__body {
  min-height: 704px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.title {
  font-weight: 700;
  font-size: 38px;
  color: #000;
  line-height: 50px;
  letter-spacing: -0.3px;
}

.button-link-2:hover {
  background-color: #98E41A;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transform: scale(0.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.content-1__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 549px;
          flex: 0 1 549px;
  margin: 0 10px;
  position: relative;
  bottom: 30px;
}

.content-1__image div:first-child {
  width: 279px;
  height: 368px;
  background: #fff url("../media/content-1/Bitmap-2.png") 0 0 no-repeat;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
  border-radius: 5px;
}

.content-1__image div:nth-child(2) {
  width: 351px;
  height: 192px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-26.82%, rgba(248, 251, 254, 0.0001)), to(#F8FBFE));
  background: linear-gradient(180deg, rgba(248, 251, 254, 0.0001) -26.82%, #F8FBFE 100%);
  position: absolute;
  top: 170px;
  left: 10px;
}

.content-1__image div:last-child {
  width: 336px;
  height: 361px;
  background: #FFFFFF url("../media/content-1/Bitmap.png") 0 0 no-repeat;
  -webkit-box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
          box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 135px;
}

.content-1__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 436px;
          flex: 0 1 436px;
  margin: 100px 0 0 0;
}

.content-2__body {
  min-height: 649px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.content-2__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 436px;
          flex: 0 1 436px;
  margin: 80px 0 50px;
}

.content-2__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 549px;
          flex: 0 0 549px;
  margin: 0 10px;
  position: relative;
  padding: 0 0 0 10px;
  top: 30px;
}

.content-2__image div:first-child {
  width: 365px;
  height: 487px;
  background: #fff url("../media/content-2/Bitmap-3.png") 0 0 no-repeat;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
  border-radius: 5px;
  z-index: 3;
}

.content-2__image div:nth-child(2) {
  width: 326px;
  height: 192px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-23.88%, rgba(255, 255, 255, 0.0001)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -23.88%, #FFFFFF 100%);
  position: absolute;
  top: 190px;
  left: 140px;
  z-index: 2;
}

.content-2__image div:last-child {
  width: 320px;
  height: 297px;
  background: #FFFFFF url("../media/content-2/Bitmap-4.png") 0 0 no-repeat;
  -webkit-box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
          box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 225px;
}

.pricing {
  background-color: #F8FBFE;
}

.pricing__container {
  max-width: 770px;
  margin: 0 auto;
  padding: 0 10px;
}

.pricing__body {
  min-height: 507px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pricing__body p {
  margin: 20px 0 60px;
}

.pricing__button {
  width: 250px;
  border: 1px solid #E8E8EA;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px;
}

.pricing__button a {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  color: #0F3D33;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.pricing__button a:first-child {
  padding: 10px 0 8px 34px;
}

.pricing__button a:last-child {
  padding: 10px 40px 8px;
  background-color: #50E3C2;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cards__body {
  min-height: calc(881px - 507px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.cards__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  padding: 28px 77px 29px 45px;
  background: #fff;
  -webkit-box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.0939481);
          box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.0939481);
  border-radius: 6px;
  margin: -80px 15px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__column:nth-child(2) {
  position: relative;
}

.cards__column:nth-child(2)::before {
  content: '';
  position: absolute;
  display: block;
  width: 348px;
  height: 4px;
  background-color: #50E3C2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  top: 0px;
  left: 1px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__label {
  font-weight: 700;
  font-size: 13px;
  color: #878B90;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.43px;
}

.cards__price {
  font-weight: 700;
  font-size: 46px;
  color: #000;
  line-height: 46px;
  letter-spacing: -0.3px;
  margin: 17px 0 5px;
}

.cards__price:before {
  content: '$';
  font-size: 30px;
  position: relative;
  bottom: 10px;
}

.cards__price span {
  font-weight: 700;
  font-size: 17px;
  color: #000;
  line-height: 21px;
  letter-spacing: -0.3px;
}

.cards__price span::before {
  content: '/';
  position: relative;
  right: 3px;
  font-size: 30px;
}

.cards__text {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 23px;
  letter-spacing: -0.4px;
}

.cards__list {
  margin: 26px 0 31px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards__list-list li {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  letter-spacing: -0.45px;
  padding: 0 0 0 25px;
  position: relative;
}

.cards__list-list li:not(:last-child) {
  margin: 0 0 7px 0;
}

.cards__list-list li::before {
  content: '';
  width: 13px;
  height: 12px;
  background: url("../media/Path.png") 0 0 no-repeat;
  position: absolute;
  top: 9px;
  left: 5px;
}

.cards-list-1 li:nth-child(3) {
  color: #8E8E8E;
  text-decoration: line-through;
}

.cards-list-1 li:nth-child(3)::before {
  content: '';
  width: 13px;
  height: 12px;
  background: url("../media/Path-2.png") 0 0 no-repeat;
  position: absolute;
  top: 9px;
  left: 5px;
}

.cards-list-1 li:last-child {
  color: #8E8E8E;
  text-decoration: line-through;
}

.cards-list-1 li:last-child::before {
  content: '';
  width: 13px;
  height: 12px;
  background: url("../media/Path-2.png") 0 0 no-repeat;
  position: absolute;
  top: 9px;
  left: 5px;
}

.cards__required {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin-top: 14px;
}

.reviews__body {
  margin: 107px 0 142px;
  padding: 0 10px;
}

.reviews__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #E8E8EA;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.reviews__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 375px;
          flex: 1 1 375px;
  border-right: 1px solid #E8E8EA;
  border-bottom: 1px solid #E8E8EA;
  margin: 0 -2px -1px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  padding: 0px 55px 48px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__item span {
  font-weight: 400;
  font-size: 98px;
  color: #DBE4F1;
  line-height: 118.6px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.reviws__review {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  letter-spacing: -0.1px;
  margin-bottom: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reviews__author p:first-child {
  font-weight: 700;
  font-size: 16px;
  color: #323232;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.reviews__author p:last-child {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.footer {
  background-color: #384054;
}

.footer__body {
  min-height: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 100px 41px 20px;
}

.footer__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 165px;
          flex: 0 1 165px;
}

.footer__item_list li {
  margin-bottom: 12px;
}

.footer__item_list li a {
  font-weight: 400p;
  font-size: 16px;
  color: #F8FBFE;
  line-height: 34px;
}

.footer__item_list li:first-child {
  margin-bottom: 23px;
}

.footer__item_list li:first-child a {
  font-weight: 400;
  font-size: 14px;
  color: #DBE4F1;
  line-height: 32px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.footer__bottom-left {
  font-weight: 400;
  font-size: 12px;
  color: #DBE4F1;
  line-height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.footer__bottom-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__bottom-right .bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom-right .bottom-list li {
  margin: 0 10px;
}

.footer__bottom-right .bottom-list li a {
  font-weight: 400px;
  font-size: 12px;
  color: #DBE4F1;
  line-height: 18px;
}

.contact__container {
  max-width: 727px;
  padding: 0 10px;
  margin: 0 auto;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 944px;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__box h5 {
  font-weight: 700;
  font-size: 28px;
  color: #000;
  line-height: 50px;
  letter-spacing: -0.22px;
}

.contact__request {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__block {
  max-width: 558px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E8E8EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 10px;
  padding: 50px;
  margin: 30px;
}

.request__block a {
  display: block;
  text-align: center;
}

.request__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request__inputs input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #323232;
  line-height: 50px;
  letter-spacing: -0.3px;
  border: 1px solid #E8E8EA;
  padding: 0 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.request__inputs input:focus {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.request__inputs input:not(:last-child) {
  margin: 0 0 20px 0;
}

.request__attach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.request__attach p {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #323232;
  line-height: 50px;
  letter-spacing: -0.3px;
}

.request__attach p:last-child {
  border-radius: 3px;
  padding: 0 12px 0 33px;
  background: #F2F5F8 url("../media/icon.png") 13px 16px no-repeat;
  cursor: pointer;
}

.request__attach p:last-child:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header__body {
    max-width: 768px;
  }
  .container {
    max-width: 768px;
  }
  .cards__column {
    padding: 28px 57px 29px 45px;
    margin: -80px 10px 20px 10px;
  }
  .reviews__body {
    margin: 107px 0 72px;
    padding: 0 10px;
  }
  .footer__body {
    min-height: 332px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 41px 20px;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
  }
  .footer__item_list li {
    margin-bottom: 12px;
  }
  .footer__item_list li a {
    font-weight: 400p;
    font-size: 14px;
    color: #F8FBFE;
    line-height: 24px;
  }
  .footer__item_list li:first-child {
    margin-bottom: 23px;
  }
  .footer__item_list li:first-child a {
    font-weight: 400;
    font-size: 12px;
    color: #DBE4F1;
    line-height: 24px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header__body {
    padding: 10px 50px;
    min-height: 75px;
  }
  .content-top {
    height: 335px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
  }
  .content-top__block h2 {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    line-height: 28px;
    opacity: 0.5;
    margin: 0 0 12px 0;
  }
  .content-top__block p:not(:last-child) {
    font-weight: 400;
    font-size: 14px;
    color: #DBE4F1;
    line-height: 24px;
    opacity: 0.5;
    margin: 0 0 10px 0;
  }
  .content-top__block p:last-child {
    font-weight: 400;
    font-size: 14px;
    color: #DBE4F1;
    line-height: 28px;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  .container {
    max-width: 480px;
  }
  .menu__list {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger:before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .feature__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .feature__border span {
    position: static;
    width: 111px;
    height: 1px;
  }
  .content-1__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 279px;
            flex: 0 1 279px;
  }
  .content-1__image div:nth-child(2) {
    display: none;
  }
  .content-1__image div:last-child {
    display: none;
  }
  .content-1__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 30px 0 0 0;
  }
  .content-2__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 80px 0 50px;
  }
  .content-2__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 365px;
            flex: 0 0 365px;
  }
  .content-2__image div:nth-child(2) {
    display: none;
  }
  .content-2__image div:last-child {
    display: none;
  }
  .pricing__container {
    max-width: 480px;
  }
  .pricing__body {
    min-height: 307px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .pricing__body p {
    margin: 20px 0 30px;
  }
  .cards__column {
    padding: 28px 77px 29px 45px;
    margin: 10px 15px 20px 15px;
  }
  .cards__column:nth-child(2) {
    position: relative;
    border-top: 4px solid #50E3C2;
  }
  .cards__column:nth-child(2)::before {
    display: none;
  }
  .reviews__body {
    margin: 57px 0 20px;
  }
  .reviews__item {
    padding: 10px 55px 28px 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reviews__item span {
    font-weight: 400;
    font-size: 68px;
    color: #DBE4F1;
    line-height: 58.6px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .reviws__review {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .reviews__author p:first-child {
    font-weight: 700;
    font-size: 14px;
    color: #323232;
    line-height: 20px;
  }
  .reviews__author p:last-child {
    font-weight: 400;
    font-size: 12px;
    color: #323232;
    line-height: 20px;
  }
  .footer__body {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px 21px;
  }
  .footer__columns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60px;
            flex: 0 1 60px;
  }
  .footer__item_list li:not(:first-child) {
    display: none;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom-right {
    margin-bottom: 10px;
  }
  .footer__bottom-right ul li {
    margin: 0 10px;
  }
  .footer__bottom-right ul li a {
    font-weight: 400px;
    font-size: 4px;
    color: #DBE4F1;
    line-height: 18px;
  }
  .contact__body {
    height: 744px;
  }
  .contact__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact__box h5 {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    line-height: 22px;
    margin: 10px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .button-link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #0F3D33;
    line-height: 14px;
    letter-spacing: -0.5px;
    padding: 8px 20.5px 9px 21.5px;
    background-color: #50E3C2;
  }
  .button-link-2 {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #0F3D33;
    line-height: 14px;
    padding: 8px 20.5px 9px 21.5px;
    background-color: rgba(80, 227, 194, 0.14);
  }
  .text-template {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    line-height: 22px;
  }
  .title {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    line-height: 32px;
    letter-spacing: -0.3px;
  }
  .reviews__item {
    padding: 10px 55px 28px 46px;
  }
  .reviews__item span {
    font-weight: 400;
    font-size: 38px;
    color: #DBE4F1;
    line-height: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .content-1__body {
    min-height: auto;
    padding: 25px 0;
  }
  .content-2__body {
    min-height: auto;
  }
  .content-2__block {
    margin: 25px 0;
  }
  .content-2__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 365px;
            flex: 0 0 365px;
  }
  .content-2__image div:first-child {
    display: none;
  }
  .content-2__image div:nth-child(2) {
    display: none;
  }
  .content-2__image div:last-child {
    display: none;
  }
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 600px;
  }
  .request__block {
    padding: 20px;
    margin: 30px;
  }
  .request__inputs input {
    font-weight: 400;
    font-size: 14px;
    color: #323232;
    line-height: 35px;
    padding: 0 16px;
  }
  .request__inputs input:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .request__attach {
    margin: 10px 0;
  }
  .request__attach p {
    font-weight: 400;
    font-size: 12px;
    color: #323232;
    line-height: 40px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .button-link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #0F3D33;
    line-height: 14px;
    letter-spacing: -0.5px;
    padding: 8px 20.5px 9px 21.5px;
    background-color: #50E3C2;
  }
  .button-link-2 {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #0F3D33;
    line-height: 14px;
    padding: 8px 20.5px 9px 21.5px;
    background-color: rgba(80, 227, 194, 0.14);
  }
  .text-template {
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    line-height: 22px;
  }
  .header__body {
    padding: 10px 10px;
    min-height: 75px;
  }
  .content-top__block h2 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
  }
  .content-top__block p:not(:last-child) {
    font-weight: 400;
    font-size: 12px;
    color: #DBE4F1;
    line-height: 20px;
  }
  .content-top__block p:last-child {
    font-weight: 400;
    font-size: 10px;
    color: #DBE4F1;
    line-height: 28px;
  }
  .feature__oval.oval-1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(252, 92, 101, 0.1);
  }
  .feature__oval.oval-1 span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fc5c65;
  }
  .feature__oval.oval-2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(80, 227, 194, 0.1);
  }
  .feature__oval.oval-2 span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #50e3c2;
  }
  .feature__oval.oval-3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(166, 101, 251, 0.1);
  }
  .feature__oval.oval-3 span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #a665fb;
  }
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  .feature__item h4 {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 34px;
    letter-spacing: 0.5px;
    margin: 23px 0 10px;
  }
  .cards__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    padding: 20px 47px 21px 15px;
    border-radius: 6px;
    -webkit-box-shadow: 15px 2px 14px rgba(0, 0, 0, 0.0939481);
            box-shadow: 15px 2px 14px rgba(0, 0, 0, 0.0939481);
  }
  .cards__label {
    font-weight: 700;
    font-size: 13px;
    color: #878B90;
    line-height: 32px;
  }
  .cards__price {
    font-weight: 700;
    font-size: 26px;
    color: #000;
    line-height: 20px;
    margin: 17px 0 5px;
  }
  .cards__price:before {
    font-size: 13px;
  }
  .cards__price span {
    font-weight: 700;
    font-size: 17px;
    color: #000;
    line-height: 21px;
  }
  .cards__price span::before {
    right: 2px;
    font-size: 13px;
  }
  .cards__text {
    font-weight: 400;
    font-size: 12px;
    color: #000;
    line-height: 20px;
  }
  .cards__list {
    margin: 20px 0 25px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .cards__list-list li {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 25px;
    padding: 0 0 0 25px;
  }
  .cards__list-list li:not(:last-child) {
    margin: 0 0 2px 0;
  }
  .cards__list-list li::before {
    top: 7px;
  }
  .cards-list-1 li:nth-child(3)::before {
    top: 7px;
  }
  .cards-list-1 li:last-child::before {
    top: 7px;
  }
  .cards__required {
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 20px;
  }
  .reviews__item {
    padding: 15px 35px 18px 26px;
  }
  .reviews__item span {
    font-weight: 400;
    font-size: 68px;
    color: #DBE4F1;
    line-height: 38.6px;
  }
  .reviws__review {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .reviews__author p:first-child {
    font-weight: 700;
    font-size: 12px;
    color: #323232;
    line-height: 20px;
  }
  .reviews__author p:last-child {
    font-weight: 400;
    font-size: 10px;
    color: #323232;
    line-height: 20px;
  }
  .footer__item_list li:first-child {
    margin-bottom: 23px;
  }
  .footer__item_list li:first-child a {
    font-weight: 400;
    font-size: 12px;
    color: #DBE4F1;
    line-height: 32px;
  }
  .footer__bottom-left {
    font-weight: 400;
    font-size: 8px;
    color: #DBE4F1;
    line-height: 18px;
  }
  .footer__bottom-right .bottom-list li {
    margin: 0 10px;
  }
  .footer__bottom-right .bottom-list li a {
    font-weight: 400px;
    font-size: 10px;
    color: #DBE4F1;
    line-height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */